*{
     margin: 0;
     padding: 0;
 }

 body {
     font-size: 100%;
     font-family: 'Montserrat', sans-serif;
     

 }
 div, section, span, ul, li, a, header {
     box-sizing: border-box;
 }

 header{
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding: 20px 50px;
     align-items: center;
 }
 #testy li{
     list-style: none;
     display: inline-block;
     margin: 20px;
 }
 #testy li a{
     color: #101E7E;
     text-decoration: none;
     font-size: 20px;
 }
 #testy li a:hover{
    color: lightblue;
    transition:all 0.3s ease-in-out;;
}
 section{
     width: 100%;
     float: left;
     height: 100vh;
 }
 #home{
    background-color: #F6FDFF;
 }

#Mission{
    background-color:#101E7E ;
    }

#News{
    background-color: #F6FDFF;
}

    /*------*/

    .hams {
        display: inline-block;
      }
      
      .menu:first-of-type {
        width:80px;
        height: 10px;
        border-radius: 25px;
        margin: 20px 15px;
        background: #101E7E;
        transition: all 1s ease-in-out;
      
      }
      .menu {
        width:40px;
        height: 10px;
        border-radius: 25px;
        margin: -5px 15px;
        background: #101E7E;
        transition: all 1s ease-in-out;
      
      }
      .menu:hover:first-of-type {
        transform: rotate(180deg);
      }

      /*------*/

      .linker{
        width: 100px;
        height: 50px;
        margin: 0;
        position: absolute;
        top: 70px;
        left: 60px;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: tomato;
        opacity: 0;
        cursor: pointer;
      }
        /*------*/
 
 /* -------------- MENU CSS STUFF :~) ----------------- */

 .ham {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 90%;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .ham a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 50px;
    font-weight: 500;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .ham a:hover {
    color: #605df7;
  }
  
  .ham .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
/*---------*/